
.logbg{
    background-image: url('../../../src/assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    top: 0;
    width: 100%;
}
@media (min-width: 640px) {
    .bg {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .bg {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .bg {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .bg {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .bg {
        max-width: 1536px;
    }
}